@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
   --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body, html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header {
    margin: 10px;

}

td, th {
    padding: 0.6em;
}
h4 {
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section {
    margin: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 14px;
}

.card {
    border: black 1px solid;
    border-radius: 2px;
    padding: 0.5rem;
}

/* iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */