@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
   --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body, html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header {
    margin: 10px;

}

td, th {
    padding: 0.6em;
}


h4 {
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p {
    padding-top: 1rem;
}

a {
    color: blue;
}

.section {
    margin: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 14px;
    box-shadow:  0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border: black 1px solid;
    border-radius: 1rem;

}

.card {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 0.5rem;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    max-width: 450px;
    margin: auto;
    min-width: 200px;
}

.card .name {
    font-size: 20px;
}

.card .affiliation {

    font-size: 14px;
    margin-top: 0.5rem;
}
 
.card .description {
    margin-top: 0.7rem;

}
/* iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .section {
        width: 50%;
        margin: 3rem auto;
        padding: 2rem;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) ;
    }

    table {
        margin: auto;
        width: 100%;
        max-width: 600px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

